#body{
    background-color: black;
}
#contenedor{
    border: 1px solid black;
    width: 990px;
    height: 1200px;
    margin: auto;
    position: relative;
    background-image: url("imagenes/fondo_principal.jpeg");
}
#pie{
    border: 1px solid black;
    width: 985px;
    height: 684px;
    background-image: url("imagenes/fondo_blanco_2.jpg");
    position: relative;
}
#encabezado{               /*contenedor de foto*/
    border: 1px solid green; 
    width: 250px;    
    height: 700px;
    /*background-image: ;*/
}
#contacto ul{
    width: 690;
    position: relative;
    left: 380px;
    top: 40px;
}
#contacto ul li{
    width: 100px;
    float: left;
    text-align: center;
    list-style-type: none;
    color: black;
    font-size: 30px;
}
